body {
    font-family: var(--font-family);
    color: var(--light-text);
    background-color: #181818;
}
a {
    text-decoration: none;
    color: var(--light-text);
    transition: color 0.3s ease, text-decoration 0.3s ease;
}
a:hover {
    color: rgb(233, 159, 255);
}
main {
    margin: 0 auto;
}
.btn__all {
    transition: transform 0.3s ease; 

}
.btn__all:hover {
    transform: scale(1.05); /* Увеличение на 5% */
  }

.text-title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 52px;
    line-height: 119%;
    letter-spacing: 0em;
    color: var(--light-text);
}
/* header */

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    max-width: 1097px;
    margin: 0 auto;
    align-items: center;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.01em;
}

.header__logo {
    width: 186px;
    height: 58px;
}
.header__menu {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.header__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--light-text);
    width: 136px;
    height: 52px;
}

/* main hero */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--font-family);
    color: var(--light-text);
}

.hero__title {
    padding-top: 90px;
    max-width: 690px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 80px;
    line-height: 110%;
    letter-spacing: 0em;
    text-align: center;
    color: var(--light-text);
}

.hero__text {
    padding-top: 30px;
    max-width: 580px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.01em;
    text-align: center;
    color: var(--light-text);
}

.hero__btn {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 17px;
    line-height: 147%;
    letter-spacing: 0.01em;
    display: flex;
    padding-top: 95px;
    gap: 35px;
}
.bnt-left {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-family);
    width: 173px;
    height: 65px;
    box-shadow: 0 4px 31px 0 rgba(0, 0, 0, 0.15);
    background: var(--primary);
}
.bnt-right {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--light-text);
    font-family: var(--font-family);
    width: 170px;
    box-shadow: 0 4px 31px 0 rgba(0, 0, 0, 0.15);
}

/* screens */

.screens {
 padding-top: 35px;
}

/* Features*/

.features {
    margin: 0 auto;
    padding-top: 100px;
    width: 1579px;
    height: 1112px;
    
}

.container__features {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 70px;
}

.container__text {
    display: flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 577px;
    height: 149px;
}

.features_title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 52px;
    line-height: 119%;
    letter-spacing: 0em;
    color: var(--light-text);
}

.features_ptext {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.01em;
    text-align: center;
    color: var(--light-text);
}

/* feature content */
/* Привязал top center bottom к TOP */

.container__content {
    display: flex;
    padding-top: 80px;
}

.content__left {

}

.content__right {
    display: flex;
    flex-direction: column;
    padding-top: 54px;
}

.content__block-card-top {
    width: 269px;
    height: 196px;
    padding-bottom: 45px;
}

.content__top-position {
    display: flex;
    gap: 10px   ;
    
}

.icon__eat {
    padding-bottom: 10px;
}

.text__top {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.01em;
    color: var(--light-text);
}

.text__bottom {
    padding-top: 10px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.01em;
    color: var(--light-text);
}

/* work */

.work {
    padding-top: 100px;
}

.text__content {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.work__title {
    padding-bottom: 10px;
    font-weight: 400;
    font-size: 52px;
    line-height: 119%;
    letter-spacing: 0em;
    
}

.work__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.01em;
    text-align: center;
}

.cards__content {
    display: flex;
    gap: 33px;
    padding-top: 45px;
    width: 985px;
    height: 624px;
    padding-bottom: 40px;
}

.content__card__left {
    border: 1px solid #d3d3d3;
    border-radius: 10px;
    padding: 40px 0px;
    width: 476px;
    box-shadow: 0 4px 31px 0 rgba(0, 0, 0, 0.15);
    background: var(--light-text);
}
.card__text-top {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-top-title {
    padding-bottom: 20px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.01em;
    text-align: center;
    color: var(--first-text);
}

.text-top-text {
    max-width: 271px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.01em;
    text-align: center;
    color: var(--second-text);
    padding-bottom: 57px;
}

.work__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 17px;
    line-height: 147%;
    letter-spacing: 0.01em;
    width: 152px;
    height: 52px;
    box-shadow: 0 4px 31px 0 rgba(0, 0, 0, 0.15);
    background: var(--primary);
}

.card__image-bottom {
    display: flex;
    justify-content: center;
}

.image-bottom {
    padding-top: 57px;
}

.card__image-right {
    display: flex;
    justify-content: center;
   
}
.content__card__right {
    border: 1px solid #d3d3d3;
    border-radius: 10px;
    padding: 40px 0px;
    width: 476px;
    height: 624px;
    box-shadow: 0 4px 31px 0 rgba(0, 0, 0, 0.15);
    background: var(--light-text);
}

/* gallery */

.gallery {
    padding-top: 100px;
}

.container {
    padding-bottom: 50px;
}

.container__text {
 padding-top: 60px;
}

.gallery__title {
    font-weight: 400;
    font-size: 52px;
    line-height: 119%;
    letter-spacing: 0em;

}

.gallery__text {
    padding-top: 10px;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.01em;
    text-align: center;

}

.cards__gallery-top {
    display: flex;
    align-items: center;
}

.cards__gallery-bottom {
    display: flex;
    align-items: center;
}

.gallery__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--light-text);
    width: 154px;
    height: 52px;
    box-shadow: 0 4px 31px 0 rgba(0, 0, 0, 0.15);
    font-size: 17px;
    line-height: 147%;
    letter-spacing: 0.01em;
    margin-bottom: 50px;
}
/* Partners */
.partners__text {
    display: grid;
    justify-items: center;
    max-width: 560px;
}

.partners__text-title {
    padding-top: 150px;
    font-weight: 400;
    font-size: 52px;
    line-height: 119%;
    letter-spacing: 0em;
    
}

.partners__text-subtitle {
    padding-top: 10px;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.01em;
    text-align: center;
}

.partners__brands {
    margin-top: 50px;
    display: flex;
    gap: 70px;
    height: 71px;
}

.partners__brands-icon {
    max-width   : 60px;
    padding: 5px 0;
    object-fit: contain;
}

.gallery__btn {

}

.partners-btn {
    margin-top: 50px;
    margin-bottom: 50px ;
}


/* testimonials */
.testi_cards__container {
    display: flex;
}
.testi__title-text {
    padding-bottom: 50px;
}
.testi_cards__block {
    margin: 10px;
    border: 1px solid #dedede;
    border-radius: 10px;
    padding: 40px;
    width: 430px;
    height: 328px;
}

.testi_cards__position-top {
    display: flex;
    max-width: 190px;
    gap: 10px;
    padding-bottom: 30px;
    
}

.img__cards-faceone {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.01em;
     
}
.testi_cards__position-bottom {
    line-height: 150%;
}

.text__cards-testi {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.01em;
    max-width: 307px;
}
/* cta */

.cta {
    margin:80px 0;

}
.container__content-cta {
    display: flex;
    border-radius: 33px;
    width: 1219px;
    height: 370px;
    box-shadow: 0 4px 31px 0 rgba(0, 0, 0, 0.15);
    background: #343434;
}
.cta__left-blog {
    display: grid;
    padding-left: 95px;
    padding-top: 80px;
    padding-right: 65px;
}

.cta__text-blog {
    max-width: 472px;
    font-weight: 400;
    font-size: 52px;
    line-height: 119%;
    letter-spacing: 0em;
    
}

.cta__btn-blog {

}

.gallery__btn {

}

.cta__right-blog {
    padding: 36px 0;
    width: 589px;
    height: 298px;
}

/* footer */
.footer__content-left {
    display: flex;
    gap: 75px;
    line-height: 200%;
}

.list__another {
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.01em;
    padding-bottom: 40px;
}

.footer__container {
    display: flex;
    max-width: 1013px;
}

.footer__content-right {
    padding-left: 200px;
}

.row__block {
    display: flex;
    align-items: center;
}

.row__block-centre {
    padding-top: 20px;
}

.row__block-bottom {
    padding-top: 30px;
    display: flex;
    gap: 20px;
}

.img__footer {
    padding-right: 10px;
}